@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Silkscreen&display=swap');


:root {
    --black: #000;
    --white: #fff;
    --green: #0f0;
    --leancolor: #b465f7;
    --nicebg: #dcdca5;
}

* {
    color: var(--fontColor);
}

body {
    margin: 50px 0 0 0;
    font-family: 'Poppins', sans-serif;
}

.top-image{
    width: 20rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translate(0, 6rem);
    border-radius: 50%;
}

.my-back { 
    background-color: bisque;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%; /*how high*/
    transform: translate(-50%, -50%);
    padding: 40px;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

.container{
    align-content: center;
    place-items: center;
    display: grid;
}

.btn-lg{
    text-align: center;
    width:150px;
}

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}