:root {
    --black: #000;
    --white: #fff;
    --green: #0f0;
    --leancolor: #b465f7;
    --nicebg: #dcdca5;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
        margin: 50px 0 0 0;
}

#msg {
    font-family: monospace;
}

.light-theme {
    --bg: var(--nicebg);
    --fontColor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

.my-back { 
    background-color: bisque;
}

.my-text {
    font-family: Merriweather Sans;
    text-align: center;
}

.center{
    position: absolute;
    left: 50%;
    top: 50%; /*how high*/
    transform: translate(-50%, -50%);
    padding: 40px;
}