@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Silkscreen&display=swap');


:root {
    --black: #000;
    --white: #fff;
    --green: #0f0;
    --leancolor: #b465f7;
    --nicebg: #dcdca5;
    --color-light: white;
    --color-dark: #1d1e22;
    --color-signal: #fab700;
}

.clean-bg {
    background-color: var(--color-dark);
}

.center {
    position: absolute;
    left: 50%;
    top: 50%; /*how high*/
    transform: translate(-50%, -50%);
    padding: 40px;
}

.container{
    align-content: center;
    align-items: center;
    display: grid;
    background: var(--leancolor);
}

.card {
    padding: 5%;
    margin-top: calc(4 * var(--size-bezel));
    border-radius: var(--size-radius);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    
    &--inverted {
      --color-background: var(--color-dark);
      color: var(--color-light);
      --color-shadow: var(--color-accent);
    }
    
    &--accent {
      --color-background: var(--color-signal);
      --color-accent: var(--color-light);
      color: var(--color-dark);
    }
    
    *:first-child {
      margin-top: 0;
    }
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
  
.form__field {
    margin-bottom: 1rem;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}
  
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}
  
.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight:700;    
    }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
}
/* reset input */
.form__field{
    &:required,&:invalid { box-shadow:none; }
}

.input__field {
    outline: none;
}

.button__group {
    align-items: end;
}

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}